
<div class="session-body">
  <h2 class="form-signin-heading">Please sign as Admin</h2>
  <%= form_tag admin_sessions_path do %>
      <%= text_field_tag :username, params[:username], :type=>"text", :class=>"form-control" , :placeholder=>"Type username"   %>
  <br>
  <label class="checkbox">
    <%= text_field_tag :password, params[:password], :type=>"text", :class=>"form-control" , :placeholder=>"Enter password"   %>
  </label>
  <%= submit_tag "Sign in", :class=>"btn btn-lg btn-primary btn-block", :type=>"submit"%>
  <% end %>
</div>
