

    <div class="news-bodyfield">



      <div class="control-group">
        <div class="controls">
          <%= f.text_area :body, :class => 'form-control', :placeholder =>"Enter text",:style=>"height:270px;" ,:hint => " name"%>
        </div>

      </div>




      <%= f.hidden_field :user_id, :class => 'form-control', :value=> current_user.id if current_user%>




      <%= f.hidden_field :page_id  %>




      <div class="modal-footer">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>



