<script>
    (function() {

        $(window).on('scroll', function() {
            if ($('.pagination').length) {
                this.url = $('.pagination .next_page').attr('href');
                if (url && $(window).scrollTop() > $(document).height() - $(window).height() - 50) {
                    $('.pagination').remove();
                    $('#posts').append('<div>');
                    return $('#posts div').last().load(this.url + ' #posts', function() {
                        if ($('.next_page.disabled').length) return $('.pagination').remove();
                    });
                }
            }
        });

    }).call(this);
</script>

  <div class="normal-body">
    <ul data-role="listview" data-inset="true">
      <li style="width: 80%">  <%=link_to "More categories", categories_path %></li>
    </ul>
          <div style="text-align: center;"><b><h4>Welcome To State tree Forest</h4></b></div>
    </div>

<div id="posts">

  <%= render @articles %>
</div>


<%= will_paginate @articles %>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Categories</h4>
      </div>
      <div class="modal-body">
        <a href="/categories/Business" data-transition="slide" class="btn btn-success btn-sm" style="width: 100%;margin-bottom: 1%">Business</a>
        <a href="/categories/Relationship" data-transition="slide" class="btn btn-success btn-sm" style="width: 100%;margin-bottom: 1%">Relationship</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $(document).ready(function() {
        if ($('.pagination').length) {
            $(window).scroll(function() {
                var url = $('.pagination .next_page').attr('href');
                if (url && $(window).scrollTop() > $(document).height() - $(window).height() - 20) {
                    $('.pagination').text("Please Wait...");
                    return $.getScript(url);
                }
            });
            return $(window).scroll();
        }
    });

</script>