<div class="sign-out-body">
  <%=render "welcome/sign" %>
</div>
<div class="ban-inner-body">
  <div class="ban-inner1">
  <div class="welcome-index-body1" style="width:100%">
    <h1><b style="position: relative;left:10px;color: forestgreen"> have have a nice day</b>  </h1>
    <%= image_tag("slla copy.jpg", :class=>"img-circle", :width=>"55%;",:height=>"300px;", )%>
    <h3 style="color: forestgreen"><b>Thanks for stopping by!</b></h3>
      <h4 style="color: forestgreen">We hope to see you again soon.</h4>
  </div>



  <!-- Carousel
  ================================================== -->

  </div>
</div>

<div class="right-ban-sign-out">
  <div class="welcome-index-body">
    <div class="welcome-index-sing-out">
      <%=render "welcome/registration" %>
    </div>
  </div>
</div>

