<style type="text/css">
  .sign-in{
      width: 105%;
      background: #fff;
      padding: 10.7px;
      text-align: center;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
      font-family: 'Open Sans Light', sans-serif;
      position: relative;
      right: 2%;
      padding-top: 2%;
  }
  .normal-body{
      width: 105%;
      background: #fff;
      padding: 0.7px;
      padding-top: 4px;
      text-align: center;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
      font-family: 'Open Sans Light', sans-serif;
      margin-bottom: 2%;
      position: relative;
      right: 2%;
  }
  .normal-g{
      background: #ffffff;
      width: 95%;
      height: auto;
      padding: 0.7px;
      padding-top: 4px;
      text-align: center;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
      font-family: 'Open Sans Light', sans-serif;
      margin-bottom: 2%;
      position: relative;
      left: 2.5%;
  }
  .normal-index{
      width:20%;
      height: 20px;
      float: right;
      text-align:center;
      font-size: inherit;
  }
  .normal-index1{
      width:200px;
      height: 50px;
      text-align: left;
      padding-left: 2%;
  }
  .normal-index-sub{
      width: 100%;
      height: auto;
      text-align: center;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
      font-family: 'Open Sans Light', sans-serif;
      margin-bottom: 2%;
      border: solid  #2a88bd 1px ;
      padding: 2%;

  }
  .comment-body{
      width: 100%;
      height: auto;
      padding: 0.7px;
      padding-top: 4px;
      text-align: left;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
      font-family: 'Open Sans Light', sans-serif;
      margin-bottom: 2%;

  }
  .font-body{
      font-family: 'Open Sans Light', sans-serif;
      color: #2a88bd;
      padding: 2%;
      font-size: 85%;

  }
 .logo{
     width: 100%;
     padding-left: 30%;
     padding-top: 4px;
     text-align: left;

 }
</style>


<div class="sign-in">
  <div class="sign-up-sub">
    <a href="/passbys/show" style="width:40%; " class="btn btn-success" data-iconpos="top" >Sign up</a><a href="/passbys/new" data-transition="slide" class="btn btn-primary" style="width:40%;margin-left:5%"><b>Sign in</b></a>
  </div>
</div>
<div class="logo">
  <%= image_tag "slate4434 copy.png",:width=>"206px;",:height=>"95px;" %>
</div>

<div id="posts">
  <%= render @articles %>
</div>


