<style type="text/css">
    .mobile-div{
        padding: 0.7px;
        padding-top: 4px;
        text-align: center;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        font-family: 'Open Sans Light', sans-serif;
        margin-bottom: 2%;

    }
       #products{
        margin-top: 100px;
       }
</style>
<div id="products">
  <div  class="qf b aml" style="height: auto">
    <div class="mobile-div">
      <h4><b style="color:forestgreen"> ABOUT</b><br/></h4>
    </div>
    Different social media with different uses and advantages, SLATREE could be called a real time social networking
    site; a place for sharing information instantly and connecting with others. Most often resulting in lasting
    contacts.
    Using SLATREE is fun, free and useful. It can be a bit complicating for beginners, but dont be put off. With
    time you will get to appreciate and enjoy SLATREE.

    <hr>
    <div class="mobile-div">
      <h4><b style="color:forestgreen"> CONTACT</b><br/></h4>
    </div>
    Slatree can be contacted via : Address: White Tree Family Nigeria. Mobile:
    +2348100898548,+2349026931738,<br>+2347066585505.
  </div>

  <div  class="mobile-div" style="height: auto">
    <a href="//Stetree@gmail.com">E-mail: Slatree@gmail.com</a>
  </div>

</div>