<div class="index-user-all">
  <div class="index-body-input">
    <div class="index-list-body">
      <h3> <b>Statree </b></h3>
    </div>
  </div>

  <div id="products">
    <div  class="qf b aml" style="height: auto">
      <h4><b style="color:forestgreen"> ABOUT</b><br/></h4>
      Different social media with different uses and advantages, SLATREE could be called a real time social networking
      site; a place for sharing information instantly and connecting with others. Most often resulting in lasting
      contacts.
      Using SLATREE is fun, free and useful. It can be a bit complicating for beginners, but dont be put off. With
      time you will get to appreciate and enjoy SLATREE.

      <hr>
      <h4><b style="color:forestgreen"> CONTACT</b><br/></h4>
      Slatree can be contacted via : Address: White Tree Family Nigeria. Mobile:
      +2348100898548,+2349026931738,+2347066585505.
    </div>
    
    <div  class="qf b aml" style="height: auto">
      <a href="//Stetree@gmail.com">E-mail: Slatree@gmail.com</a>
    </div>

  </div>

</div>



<div class="index-list-body1">
  <%= render "pages/caro" %>




  <div>

  </div>

</div>


