<style type="text/css">
  .mobile-div{
      padding: 0.7px;
      padding-top: 4px;
      text-align: center;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
      font-family: 'Open Sans Light', sans-serif;
      margin-bottom: 2%;

  }
</style>

<div id="products">
  <div  class="qf b aml" style="height: auto">
    <h4><b style="color:forestgreen;margin-left: 100px">HOW TO USE</b><br/></h4>
    <b style="float: left;color:forestgreen">STEPS</b><br/>
    <ul type="solid">
      <li>
        Visit <a style="color:forestgreen">'slatree.com'</a> and sign up for free. Do so by entering your name,
        email address and your desired password in the provided space.
      </li><br/>
      <li><a style="color:forestgreen">Grow trees:</a> your slatree can be as large as you want, if your goal is
        to grow lots of trees, be sure to keep your posts interesting and relevant. Dont underestimate the power of
        branching others.
      </li><br/>
      <li><a style="color:forestgreen">Find trees:</a> Find out who to branch, you will probably find out that you know
        quite a few people on <a style="color:forestgreen"> slatree.com</a>. And the only way to find people on
        <a style="color:forestgreen"> slatree.com</a> is to search for users/trees.
      </li><br/>
    </ul>
    <h4><b style="color:forestgreen">SET UP YOUR ACCOUNT</b></h4>
    <ul type="solid">
      <li><a style="color:forestgreen">Upload a profile picture:</a>This profile picture will be displayed with your
        name across the site. It must be a JPG,GIF or PNG file and must be smaller than 600kb to do so.
        Click on setting on the top right menu. click on the image box, select a file from your computer and update user
      </li><br/>
      <li><a style="color:forestgreen">Work on your bio:</a> make your bio eye catching and fun, do it just right and
        it will help you build up trees.
        People who want to branch you do read the biographies to see if they have reason to branch your page.

      </li><br/>
      <li><a style="color:forestgreen">Change your password periodically:</a> protect or guide your account
        periodically by changing your password anytime you wish to do so. Click on settings on the top right menu,
        click on more option and then input your new password and update user.
      </li>
    </ul>
    <h4><b style="color:forestgreen">CREATE A TREE</b></h4>
    <ul type="solid">
      <li>Creating a tree enables you to use the platform effectively,It also gives you the opportunity to gather
        branches (users). to do so, click on settings at the top right menu, then check the  more option and then
        click on add tree. Enter your Tree name, a unique identification number and upload your profile picture.
        Then you have successfully created your tree.
      </li><br/>

    </ul>

    </hr>

  </div>

  <div  class="mobile-div" style="height: auto">
    <a href="//Stetree@gmail.com">Stetree@gmail.com</a>
  </div>

</div>

</div>