// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.right-ban{
  width: 40%;
  height: 250px;
  float: right;
  position: relative;
  left: 320px;
  bottom: 300px;
}
.right-ban-sign-out{
  width: 40%;
  height: 250px;
  float: right;
  position: relative;
  left: 320px;
  bottom: 250px;
}

.ban-inner{
  width: 100%;
  height: 300px;
  position: relative;
  top: 10px;
  right: 5%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  font-family: 'Open Sans Light', sans-serif;
}
.ban-inner-body{
  width: 100%;
  height: 200px;
  position: relative;
}
.ban-inner-body1{
  width: 100%;
  height: 250px;
  position: relative;
}
.ban-inner1{
  width: 100%;
  height: 430px;
  position: relative;
  top: 10px;
  right: 5%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  font-family: 'Open Sans Light', sans-serif;
}
.welcome-index-body1{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  font-family: 'Open Sans Light', sans-serif;
  margin-bottom: 5%;
  height: 40px;
  width: 75%;
  position: relative;
}
.welcome-index-sub{
  height: 209px;
  width: 100%;
  position: relative;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  font-family: 'Open Sans Light', sans-serif;
  font-size: 14px;
  margin-bottom: 5%;
}
.welcome-index-sub3{
  height: 359px;
  width: 100%;
  position: relative;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  font-family: 'Open Sans Light', sans-serif;
  font-size: 14px;
  margin-bottom: 5%;
}
.welcome-index-sub4{
  height: 440px;
  width: 100%;
  position: relative;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  font-family: 'Open Sans Light', sans-serif;
  font-size: 14px;
  margin-bottom: 5%;
}
.welcome-index-sub2{
  height: 447px;
  position: relative;
  bottom: 20px;
}
.welcome-index-sub1{
  height:510px;
  width: 100%;
  position: relative;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  font-family: 'Open Sans Light', sans-serif;
  font-size: 14px;
  margin-bottom: 5%;
  top: 0px;
}
.welcome-index-sing-out{
  height:500px;
  width: 100%;
  position: relative;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  font-family: 'Open Sans Light', sans-serif;
  font-size: 14px;
  margin-bottom: 5%;
  top: 0px;
}
.sign-out-body{
  width: 100%;
  height: 50px;
  position: relative;
  padding-top: 0.8%;
  right: 5%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  font-family: 'Open Sans Light', sans-serif;
}
.sign-out-sub li{
  display: inline-block;
}