<div data-role="content" data-theme="c">
  <ul data-role="listview" data-inset="true">
    <li data-role="list-divider" style="text-align: center">
      Categories
    </li>
    <br>
    <li>  <a href="/categories/News" data-transition="slide" >News</a></li>
    <li>  <a href="/categories/Fashion" data-transition="slide">Fashion</a></li>
    <li>  <a  href="/categories/Music" data-transition="slide">Music</a></li>
    <li>  <a href="/categories/Thread" data-transition="slide">Thread</a></li>
    <li>   <a href="/categories/Business" data-transition="slide" >Business</a></li>
    <li>   <a href="/categories/Relationship" data-transition="slide">Relationship</a></li>
    <li data-role="list-divider" style="text-align: center"><br></li>
  </ul>
</div>